/* .game-area{
    max-width: 250px;
    aspect-ratio: 1;
    overflow: scroll;
} */


.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.25em;
    width: 500px;
    aspect-ratio: 1;
    margin: auto;
}

.cell {
    background-color: rebeccapurple;

}